.pagination-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.pagination-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid var(--color-light-gray);
  padding: 2px;
  color: #8b95a1;
  font-size: 14px;
  background-color: #fff;
}

.pagination-container .page:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  transition: 0.3s;
}

.pagination-container .page.active {
  background-color: var(--color-primary);
  color: #fff;
  transition: 0.3s;
}

.pagination-container .fast-left,
.pagination-container .fast-right,
.pagination-container .left,
.pagination-container .right {
  border: 0;
  margin: 0 -3px;
}

.pagination-container .fast-left:disabled,
.pagination-container .fast-right:disabled,
.pagination-container .left:disabled,
.pagination-container .right:disabled {
  cursor: default;
  opacity: 0.3;
}

.pagination-container .omit {
  border: 0;
  cursor: default;
}

