.progress-ring {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 40px;
  height: 40px;
  transform: rotate(275deg);
}

.progress-bg {
  stroke: var(--color-lightest-gray);
  fill: none;
}

.progress-ing {
  stroke: var(--color-primary);
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 100;
}
