.home-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-decoration: none;
  background-color: #fff;
}

/* mobile-header */
.home-mobile-header {
  border-bottom: 1px solid var(--color-light-gray);
}

.home-container .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  padding-left: 20px;
}

.home-container .logo-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
}

.home-container .home-subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 60px 0 20px;
}

/* gallery */
.home-container .gallery {
  display: grid;
  gap: 12px;
}

.home-container .gallery a {
  text-decoration: none;
}

.home-container .gallery-item {
  border-radius: 4px;
  overflow: hidden;
}

.home-container .gallery-image-box {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.home-container .gallery-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.home-container .gallery-item .gallery-content-box {
  padding: 20px;
  border: 1px solid var(--color-light-gray);
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.home-container .gallery-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-top: 8px;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--color-dark-gray);
  -webkit-line-clamp: 2; /* 두 줄만 보이도록 설정 */
  overflow: hidden;
}

.gallery .content-box h2 {
  font-size: 16px;
  font-weight: bold;
}

.gallery .content-box p {
  font-size: 14px;
  color: var(--color-dark-gray);
}

/* announcement */
.announcement-contents {
  padding-bottom: 50px;
}

.announcement-author {
  display: flex;
  gap: 12px;
}

.announcement-content {
  padding: 20px 0 10px;
  color: var(--color-darkest-gray);
  line-height: 1.6;
}

.announcement-author .author-image-container .profile-img-container {
  width: 48px;
  height: 48px;
}

.announcement-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.announcement-info .announcement-time {
  font-size: 14px;
  color: var(--color-dark-gray);
}

.home-container .edit-image-button-container {
  display: none;
}

/* tablet */
@media (width >= 768px) {
  .home-container .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* desktop */
@media (width >= 1024px) {
  .mobile-only {
    display: none;
  }

  .home-container .home-subtitle {
    font-size: 18px;
    margin: 50px 0 20px;
  }

  .home-container .personal-info-section {
    padding: 0;
  }

  .home-container .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .home-container .gallery a:hover .gallery-image-box img {
    transform: scale(1.2);
    transform-origin: center;
  }

  .home-container .gallery-item .gallery-content-box {
    padding: 16px;
  }
}
