.modal-main-content {
  width: 100%;
}

.vacation-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.vacation-form .input-field {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  border-radius: 4px;
}

.vacation-form .input-field input {
  padding-right: 0;
  height: 20px;
  font-size: 14px;
  vertical-align: text-bottom;
  cursor: default;
}

.vacation-form .input-field.input-readonly {
  padding: 0 17px;
  background-color: var(--color-lightest-gray);
}

.vacation-form .input-field.border {
  padding: 0 17px;
  border: 1px solid var(--color-lightest-gray);
}

.vacation-form .start-date-input input {
  cursor: pointer;
}

.vacation-form .input-field.input-readonly input {
  text-align: right;
}

.vacation-form .input-field.border input {
  text-align: right;
}

.vacation-form .input-field label {
  white-space: nowrap;
  flex-shrink: 0;
  font-size: 14px;
  color: var(--color-darkest-gray);
}

.vacation-form .input-field .input-readonly {
  flex-grow: 1;
}

.vacation-form .start-date-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

.vacation-form .start-date-input svg {
  cursor: pointer;
}

.vacation-form .end-date-input {
  display: flex;
  align-items: center;
}

.vacation-form .input-field:nth-child(2) {
  position: relative;
}

.vacation-form .calendar-container {
  display: none;
}

.vacation-form .calendar-container.active {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 10000;
  display: block;
}

.vacation-form .start-date-button {
  text-align: right;
  margin: 0;
  margin-right: -16px;
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.vacation-form .time-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vacation-form .from-text {
  font-size: 14px;
  color: var(--color-darkest-gray);
}

.vacation-reason {
  padding: 17px 0;
  width: 100%;
  min-height: 100px;
  appearance: none;
  border-radius: 0;
  background-color: transparent;
  resize: none;
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-black);
  border: 0;
}

.vacation-reason:focus {
  outline: none;
}

.vacation-reason:active {
  background-color: transparent;
}

.vacation-reason::placeholder {
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-dark-gray);
}

.vacation-form .input-field.input-error {
  box-shadow: 0 0 0 1px var(--color-alert);
}
