@media (width >= 1024px) {
  .header-container {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    height: 60px;
    border-bottom: 1px solid var(--color-light-gray);
    background-color: #fff;
  }

  .header-container .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  .header-profile {
    position: relative;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-light-gray);
    border-radius: 4px;
    overflow: hidden;
  }

  .header-profile-image {
    position: absolute;
    left: -2px;
    width: 40px;
  }

  .logout-btn button{
    margin-left: 5px;
    padding: 5px;
  }
}
