@media (width >= 1024px) {
  .header-container {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    height: 60px;
    border-bottom: 1px solid var(--color-light-gray);
    background-color: #fff;
  }

  .header-container .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  .logout-btn-wrapper button {
    margin-left: 5px;
    padding: 5px;
    cursor: pointer;
  }
}
