.not-found-container {
  height: 100vh;
  background-color: #fff;
}

.not-found-container .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.not-found-image {
  width: 80%;
  max-width: 400px;
  margin-top: 10%;
}

.not-found-title {
  margin: 12px 0;
  font-size: 20px;
  color: var(--color-darkest-gray);
}

.not-found-container p {
  color: var(--color-darkest-gray);
  font-size: 14px;
}

.not-found-container button {
  margin-top: 32px;
  width: 140px;
}

/* desktop */
@media (width >= 1024px) {
  .not-found-container {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .not-found-container .wrapper {
    padding-bottom: 50px;
  }

  .not-found-image {
    margin-top: 0;
  }
}
