.alert-message {
  display: none;
}

.alert-message.show {
  display: block;
}

.button.btn-primary {
  margin-bottom: 15px;
}

.button.btn-primary:hover {
  background-color: var(--color-primary);
}

.button.btn-primary:disabled:hover {
  background-color: var(--color-lightest-gray);
}
